@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-theme {
  --text-acent: 213, 94%, 68%;
  --text-base: 0, 0%, 100%;
  --bg-base: 240, 4%, 16%; /*bg-zinc-800*/
  --bg-soft: 240, 5%, 24%; /*bg-zinc-700*/
  --bg-accent: 213, 94%, 68%; /*bg-zinc-700*/
  --alpha: 1;
}

/*hsl(222.86deg 29.17% 90.59%)*/

.base-theme {
  --text-acent: 172, 66%, 50%;
  --text-base: 240, 5%, 26%;
  /* --text-base: 240, 5.5%, 24.9%; */
  /* hsl(240deg 5.51% 24.9% / 75%) */
  --alpha: 1;
  --bg-base: 0, 0%, 100%;
  --bg-accent: 172, 66%, 50%;
  --bg-soft: 0, 0%, 93%;
}

@layer base {
  input,
  textarea {
    @apply outline-none;
  }
}

@layer utilities {
  .f-5 {
    --alpha: 0.5;
  }

  .f-8 {
    --alpha: 0.8;
  }

  .f-6 {
    --alpha: 0.6;
  }

  .f-10 {
    --alpha: 1;
  }

  .text-accent {
    color: hsla(var(--text-acent), var(--alpha));
  }

  .text-normal {
    color: hsla(var(--text-base), var(--alpha));
  }

  .icon-normal {
    fill: hsla(var(--text-base), var(--alpha));
  }

  .bg-base {
    background-color: hsla(var(--bg-base), var(--alpha));
  }

  .bg-soft {
    background-color: hsla(var(--bg-soft), var(--alpha));
  }

  .bg-accent {
    background-color: hsla(var(--bg-accent), var(--alpha));
  }
}

@layer components {
  .fixed-fill {
    @apply fixed top-0 bottom-0 right-0 left-0 z-10;
  }

  .fill {
    @apply w-full h-full;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-y-center {
    @apply flex items-center;
  }

  .flex-column {
    @apply flex flex-col;
  }

  .icon-dark {
    @apply dark:fill-gray-100;
  }

  /* Sections */
  .section {
    @apply sm:px-6 min-h-screen pt-16 pb-4 px-4;
  }

  .container-page {
    @apply pt-16  flex-center;
  }

  .scroll-custom::-webkit-scrollbar {
    width: 0.3em;
    height: 0.8em;
  }
  /* Track */
  .scroll-custom::-webkit-scrollbar-track {
    border-radius: 999999px;
    background-color: #86898b;
  }

  /* Handle */
  .scroll-custom::-webkit-scrollbar-thumb {
    background-color: #595c60;
    border-radius: 999999px;
  }
}
